<div class="sidebar ">
  <h2>Open Source</h2>
  <!-- <ul class="opensource"> -->
  <li>
    <a title="big-frontend on Github" href="https://big-frontend.github.io/.github/" target="_blank">
      <i class="fa fa-github fa-2x"></i>
      big-frontend:大前端工程化实践:架构、性能、DevOps
    </a>
  </li>
  <li>
    <a title="bundles-assembler on Github" href="https://github.com/electrolyteJ/bundles-assembler/wiki" target="_blank">
      <i class="fa fa-github fa-2x"></i>
      bundles-assembler:Android组件化
    </a>
  </li>
  <li>
    <a title="pcmd on Github" href="https://github.com/ghost-plan/pcmd" target="_blank">
      <i class="fa fa-github fa-2x"></i>
      pcmd 快速构建一个cli，eg.padb
    </a>
  </li>
  </ul>
</div>
<div class="sidebar ">
  <h2>Recent Posts : {{site.posts.size}}</h2>
  <ul>
    {% for post in site.posts limit:5 %}
    <li>
      <a href="{{ site.baseurl}}{{ post.url }}">{{ post.title }}</a>
    </li>
    {% endfor %}
  </ul>
</div>

<div class="sidebar">
  <h2>Tags</h2>
  <ul class="sideBarTags">
    <!-- {% for tag in site.tags %}
      <li><a href="{{ site.baseurl }}/tag/{{ tag[0] }}">{{ tag[0] }}</a></li>
      
    {% endfor %} -->

    {% assign tags = (site.tags | sort:0) %} {% for tag in tags %}
    <li>
      <a href="{{ '/tag/' | append: tag[0] | relative_url }}" data-toggle="tooltip" data-placement="right"
        title="{{ tag[1].size }}">
        <span>{{tag[0] }}</span>
      </a>
    </li>
    {% endfor %}
  </ul>
</div>
