<div class="mask">
  <!-- <img src="{{site.baseurl}}/css/image/bg_mask.jpeg"/> -->
</div>
{% include header.html %}


<!-- <div class="left-sidebar hidden-xs">
      <img class="avatar  img-responsive center-block" src="{{site.baseurl}}/asset/avatar.png" /><br>
    <h4  class="intro" name="textarea">{{site.description}}</textarea>
</div> -->
<div class="wrapper">
  <div class="content">
    <div class="container">
      <div class="row">
        <div class="col-md-2">
          <div>
            <h2>Open Source</h2>
            <ul class="opensource">
              <li >
                <a title="bundles-assembler on Github"
                  href="https://github.com/JamesfChen/bundles-assembler/wiki" target="_blank">
                  <i class="fa fa-github fa-2x"></i>
                  bundles-assembler
                </a>
              </li>
              <li>
                <a title="padb on Github" href="https://github.com/JamesfChen/padb" target="_blank">
                  <i class="fa fa-github fa-2x"></i>
                  padb
                </a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-md-6">
          <div class="well">
            {{ content }}
          </div>
        </div>
        <div class="col-md-3 hidden-xs">
          {% include sidebar.html %}
        </div>
      </div>
    </div>
  </div>
  {% include footer.html %}
</div>