</div>
{% include header.html %}


<!-- <div class="left-sidebar hidden-xs">
      <img class="avatar  img-responsive center-block" src="{{site.baseurl}}/asset/avatar.png" /><br>
    <h4  class="intro" name="textarea">{{site.description}}</textarea>
</div> -->
<div class="wrapper">
  <div class="content">
    <div class="container">
      <div class="row">
        <div class="col-md-8">
          <div class="well">
            {{ content }}
          </div>
        </div>
        <div class="col-md-4 hidden-xs">
          {% include sidebar.html %}
        </div>
      </div>
    </div>
  </div>
  {% include footer.html %}
</div>